<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cardo" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');
@import url('https://fonts.googleapis.com/css?family=Chela+One');


.header{
background-image: url('https://www.fcinq.com/v3/wp-content/uploads/home.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
height: 800px;
}
.logo{
	width:200px;
}
.logo-title{
	color: #fff;
font-family: 'Open Sans', sans-serif;
font-weight:400;
letter-spacing: 5px;
text-transform: uppercase;
}
.top-title{
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	margin-top: 150px;
}
.top-title h1{
font-family: 'Chela One', cursive;
}
.menu{
padding: 50px;
padding-top: 200px;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
background: #d83f87;
height: 510px;
opacity:1;
position: relative;
z-index: 5;
transition: background .2s linear;
-webkit-transition: background .2s linear;
-moz-transition: background .2s linear;
-ms-transition: background .2s linear;
-o-transition: background .2s linear;
}
.menu a:hover{
text-decoration: none;
}
.menu li{
list-style: none;
}
.menu li a{
color: #fff;
display: block;
font-family: 'Open Sans', sans-serif;
font-weight:800;
font-size: 25px;
position: relative;
text-transform: uppercase;
}
.mh-1:hover .menu{
background: #ddd;
z-index: 12;
overflow: hidden;
}
.menu a:hover::before {
left: -20px;
width: 15px;
}
.menu a::before{
background: #fff;
bottom: 6px;
content: "";
display: block;
left: 5px;
height: 1px;
position: absolute;
transition: all .2s ease-out;
-webkit-transition: all .2s ease-out;
-moz-transition: all .2s ease-out;
-ms-transition: all .2s ease-out;
-o-transition: all .2s ease-out;
width: 0;
}
.myheader{
	height: 200px;
	background-color: #ccc;
}
.myheader .menu{
padding: 50px;
padding-top:10px;
height: 130px;
position: fixed;
top: 0;
width: 30%;
}
.myheader .header-left{
position: fixed;
top: 0;
background-color:#151724;
width: 60%;
padding: 14px;
height: 130px;
}
.myheader .menu li a{
font-size: 15px;
}
.myheader .top-title{
    position: fixed;
    top: -120px;
    text-align: center;
    left: 30%;
}
.myheader .top-title h1{
	font-size:25px;
}	
.myheader .logo-title{
	font-size: 14px;
	letter-spacing: 2px;
}
/* EFFECTS
***************/

.glow {
  text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -webkit-transition: text-shadow 1s linear;
       -moz-transition: text-shadow 1s linear;
         -o-transition: text-shadow 1s linear;
            transition: text-shadow 1s linear;
}

.glow.in {
  text-shadow: 
    0.025em 0.025em 0.025em rgba(0, 0, 0, 0.8),
    0 0 0.5em rgba(255, 255, 255, 0.3);
}

.fade {
  opacity: 0;
    -webkit-transition: opacity 1s linear;
       -moz-transition: opacity 1s linear;
         -o-transition: opacity 1s linear;
            transition: opacity 1s linear;
}

.fade.in {
  opacity: 1;
}


footer{
	margin-top:800px;
}

body {
    background-color:#C1C0FF;
}

.main{
    text-align : center;
    margin-left: auto;
    margin-right: auto;
}

#background {
    width : 1260px;
    height : 600px;
}

.atas {
    position: relative;
    top: 0px;
}

div.hijau {
    background-color: #77D353;
    width: 520px;
    height: 600px;
    position: absolute;
    top: 0px;
    right: 0px;
    opacity: 0.80;
}

div.profile {
    position: absolute;
    left: 107px;
    top: 50px;
}

div.bio {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    position: absolute;
    bottom: 10%;
    left: 15%;
    text-align: center;
    color: black;
}

#nama {
    font-size: 32px;
    font-weight: bold;
    font-family: 'Abril Fatface', cursive;
}

#profile {                  
    width : 250px;
    height : 250px;
    border-radius: 50%;
    position: relative;
    right: -25px;

}

#heading1 {
    text-align : left;
    color : #47525E;
    font-size: 56px;
    margin-left: 50px;
    margin-top: 35px;
    position: relative;
    font-family: 'Berkshire Swash', cursive;
}

#heading2 {
    text-align : left;
    color : #47525E;
    font-size: 30px;
    position: absolute;
    font-family: 'Berkshire Swash', cursive;
    margin-left: 100px;
    margin-top: -15px;
    font-family: 'Cardo', serif;
}

#life {
    text-align: center;
    font-style: italic;
    position: relative;
    margin-top: 35px;
    font-family: 'Merriweather', serif;

}

#organ p {
    text-align: right;
    position: relative;
    font-size: 20px;
}

#edu p {
    text-align: left;
    position: relative;
    font-size: 20px;
}


